<h1>Create Your Own Recipe!</h1>
<form action="/recipes" method="post">
<p>What is the name of your recipe?</p>
<input type="text" name="name"><br>
<p>What ingredients do you need?</p>
<input type="text" name="ingredients"><br>
<p>Whats the estimated amount of time needed to cook?</p>
<input type="text" name="cook_time">
<input type="submit" value="submit">
</form>