<h1>Add a recipe to the book!</h1>
  <form method="POST" action="/recipes">
    <h4>Recipe Name:<input type="text" name="name"></h4>
    <h4>Recipe Ingredients:<input type="text" name="ingredients"></h4>
    <h4>Recipe Cook Time(mins):<input type="number" name="cook_time"></h4>
    <input type="submit" value="submit">
  </form>